@page "/about"

@inject HttpClient Http
@using BlazingBlog.Shared
@inject IStringLocalizer<Article_creation> Localizer

    <div class="container">
        <h1>Mediwatch</h1>
       <div class="row">
           <div class="col-md-4">
               <div class="imgAbt">
                   <img width="220" height="220" src="./ressources/logo.png" />
               </div>
           </div>
           <div class="col-md-8">
               <p>Mediwatch est une plateforme web et mobile visant à compiler les formations disponibles pour les professionnels de santé en un outil permettant une meilleure visibilité et un meilleur tri des offres disponibles en partenariat avec les organismes de formation existants.</p>
           </div>
       </div>
   </div>
   <div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Latest News</h4>
			<ul class="timeline">
				<li>
					<a href="#">Choix du projet</a>
					<a href="#" class="float-right">Septembre 2019</a>
					<p>Choix du projet</p>
				</li>
				<li>
					<a href="#">Lancement de la beta</a>
					<a href="#" class="float-right">Juillet 2021</a>
					<p>Lancement de la beta</p>
				</li>
				<li>
					<a href="#">Lancement de la version définitive</a>
					<a href="#" class="float-right">Decembre 2021</a>
					<p>Lancement de la version définitive</p>
				</li>
			</ul>
		</div>
	</div>
</div>
      <div class="container">
          <h3>Présentation du groupe</h3>
          <div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/admin/hfrugier.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Hugo Frugier</h5>
                    <p class="card-text">Chef de projet</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/admin/tbouvier.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Thomas Bouvier</h5>
                    <p class="card-text">Developpeur Front-End</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/admin/alefevre.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Alexandre Lefevre</h5>
                    <p class="card-text">Developpeur Front-End</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/admin/atahery.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Alexandre Tahery</h5>
                    <p class="card-text">Developpeur Back-End</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/admin/pgaston.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Paul Gaston</h5>
                    <p class="card-text">Developpeur Back-End</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/admin/aauriac.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Alexis Auriac</h5>
                    <p class="card-text">Developpeur Full-Stack</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/admin/cchanal.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Clément Chanal</h5>
                    <p class="card-text">Devops</p>
                    </div>
                </div>
                </div>
            </div>
          </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-md-offset-3">
            <div class="well well-sm">
              <form class="form-horizontal" action="" method="post">
              <fieldset>
                <legend class="text-center">Contactez nous</legend>
        
                <!-- Name input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="name">Nom</label>
                  <div class="col-md-9">
                    <input id="name" name="name" type="text" placeholder="Votre nom" class="form-control">
                  </div>
                </div>
        
                <!-- Email input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="email">E-mail</label>
                  <div class="col-md-9">
                    <input id="email" name="email" type="text" placeholder="Votre email" class="form-control">
                  </div>
                </div>
        
                <!-- Message body -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="message">Message</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="message" name="message" placeholder="Merci d'entrer votre message ici" rows="5"></textarea>
                  </div>
                </div>
        
                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">validé</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
          </div>
        </div>
    </div>
    
