@page "/help/faq"

@inject HttpClient Http
@using BlazingBlog.Shared
@inject IStringLocalizer<Article_creation> Localizer

<div class="container">
    <h1>Foire aux questions (FAQ)</h1>

    <h2>Une application mobile est-elle disponible ?</h2>
    <p>A l’heure actuelle, aucune application n’est en projet. Nous vous tiendrions informé si une
application venait à être disponible.
</p>

    <h2>Je ne vois pas mes formations, je n’ai pas accès à mes pages personnelles ?</h2>
    <p>Veuillez vérifier que vous êtes bien connecté sur le site.
</p>

    <h2>Comment contacter le support en cas de besoin ?</h2>
    <p>Vous pouvez nous contacter à l’adresse électronique suivante : <a href="mailto:contact@mediwatch.fr">contact@mediwatch.fr</a>
</p>

    <h2>Comment donner son avis sur le projet ?</h2>
    <p>Vous pouvez nous donner votre avis sur le lien suivant :
<a href="https://airtable.com/shrfCVF5THQBdetFz">lien</a>

</p>

    <h2>Quel est l’adresse du site vitrine ?</h2>
    <p>Le site vitrine est accessible sur le lien suivant : <a href="www.mediwatch.fr">www.mediwatch.fr</a>
</p>
</div>