@page "/help/doctors"

@inject HttpClient Http
@using BlazingBlog.Shared
@inject IStringLocalizer<Article_creation> Localizer

<div class="container">
    <p>Ce guide est en cours de redaction et sera disponible lors du lancement de la beta</p>
</div>