@page "/help/organism"

@inject HttpClient Http
@using BlazingBlog.Shared
@inject IStringLocalizer<Article_creation> Localizer

<div class="container">
    <p>Ce guide est en cours de rédaction et sera disponible lors du lancement de la Bêta.</p>
</div>