@page "/"

<h1 class="text-center">Mediwatch votre formation au bout de vos doigts !</h1>

<div class="alert alert-primary row col-10 text-center">
  <div class="col-6 flex-column">
    <h1 class="p-2">Découvré nos formation en ligne</h1>
    <li class="btn btn-success p-2">c'est ici</li>
  </div>
  <img src="./ressources/computer.jpg" class="rounded float-left col-6"/>
</div>

<h1 class="text-center">formation populaire</h1>
<div class="alert alert-primary row col-10 text-center d-flex flex-row">    
    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/computer.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">Date</h>
        <h class="p-2text-center">Titre</h>
    </div>
</div>