@page "/"

<h1 class="text-center">Mediwatch votre formation au bout de vos doigts !</h1>

<div class="alert alert-primary row col-10 text-center">
  <div class="col-6 flex-column">
    <h1 class="p-2">Découvrez nos formations en ligne</h1>
    <li class="btn btn-success p-2">c'est ici</li>
  </div>
  <img src="./ressources/form0.jpg" class="rounded float-left col-6"/>
</div>

<h1 class="text-center">Formations populaires</h1>
<div class="alert alert-primary row col-10 text-center d-flex flex-row">    
    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form1.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">5 juin 2020</h>
        <h class="p-2text-center">Conférence cardiologie</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form2.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">13 juin 2020</h>
        <h class="p-2text-center">Conférence dermatologue</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form3.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">14 juin 2020</h>
        <h class="p-2text-center">Conférence psychologie</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form4.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">14 juin 2020</h>
        <h class="p-2text-center">Conférence Ostéopathie</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form5.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">15 juin 2020</h>
        <h class="p-2text-center">Conférence génicologie</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form6.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">15 juin 2020</h>
        <h class="p-2text-center">Conférence homéopatie</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form7.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">20 juin 2020</h>
        <h class="p-2text-center">Conférence premiers secours</h>
    </div>

    <div class="news-card d-flex flex-column p-2 alert alert-light">
        <img src="./ressources/form0.jpg" class="rounded p-2 new-photo"/>
        <h class="p-2 text-center">21 juin 2020</h>
        <h class="p-2text-center">Conférence Prévention santé public</h>
    </div>
</div>