@page "/legal"

@inject HttpClient Http
@using BlazingBlog.Shared
@inject IStringLocalizer<Article_creation> Localizer

<div class="container">
    <h1>Mentions légales</h1>
    <h2>Hébergement</h2>
    <hr>
    <p>Le site Médiwatch est hébergé sur l’offre Cloud HDS de Microsoft (Azure). Il est géographiquement localisé dans le centre d’hébergement de Microsoft en France (région Centre). Pour plus d’informations, veuillez vous référer aux liens suivants :</p>
        <a class="text-white text-decoration-none" href="https://www.microsoft.com/fr-fr/trust-center/privacy">
        <button type="button" class="btn btn-success font-weight-bold">
            Politique de confidentialité Microsoft
        </button>
    </a>
        <a class="text-white text-decoration-none" href="https://azure.microsoft.com/fr-fr/support/legal/">
        <button type="button" class="btn btn-success font-weight-bold">
            Mentions légales Microsoft Azure
        </button>
    </a>
    <h2>Utilisation des Cookies</h2>
    <hr>
    <p>Ce site à recours à des fichiers informatiques stocké sur l'ordinateur de l'utilisateur dans l'unique but de permettre à ce site d'authentifier l'utilisateur. Dans tous les cas aucun cookie publicitaire ou de traçage numérique n'est utilisé.</p>
    <h2>Utilisation des données personelles</h2>
    <hr>
    <p>Ce site conserve les données personelles qui sont fournit par les utilisateurs du site. Vous pouvez consulter ou supprimer les informations personelles que vous avez fournis dans votre espace utilisatuer. Les données sont hébergé dans un centre de donnée localisé en France Métropolitaine. Vos données ne seront pas transmise à des tiers et ne seront utilisées uniquement pour les besoins de fonctionnelement de l'application Médiwatch. Vous pouvez demander la suppression de vos données en nous contactant à l'addresse mail suivante: <a href="mailto:contact@mediwatch.fr">contact@mediwatch.fr</a></p>
    <hr>
    <i>Les informations présentent sur cette page ont été mises à jour le 9 avril 2021. Elles sont susceptibles d'évoluer régulièrement.</i>
</div>