@page "/paiement/test"
@using Mediwatch.Shared
@inject NavigationManager navigationManager
@inject HttpClient Http


Normalement voila le btn paypal
<div id="paypal-button-container"></div>

@* <main> *@
  @* <button class="buttons">Test de Paypal</button> *@
  @* CONNARD FONCTIONNE! *@
@* </main> *@
  
