@page "/Search"

<div>
<DropDownMenu DropDownButtonClass="btn btn-secondary dropdown-toggle">
        <DropDownButton>Filtre</DropDownButton>
        <ReturnButton>&lt; Retour</ReturnButton>
        <Content>
            <DropDownItemNested>
                <Title>
                    Trié par
                </Title>
                <Nested>
                    <a class="dropdown-item selected">Le plus populaire</a>
                    <a class="dropdown-item selected">Le plus proche</a>
                    <a class="dropdown-item selected">Le plus proche</a>
                </Nested>
            </DropDownItemNested>
            <DropDownItemNested>
                <Title>
                    Métier
                </Title>
                <Nested>
                    <a class="dropdown-item selected">Chirurgien</a>
                    <a class="dropdown-item selected">Ematologue</a>
                    <a class="dropdown-item selected">Oncologue</a>
                </Nested>
            </DropDownItemNested>
        </Content>
</DropDownMenu>
<span class="input-group-text pink lighten-3"><i class="fas fa-search text-white"></i></span>
</div>

<div>
    <div class="alert alert-primary row search-card">
        <img src="./ressources/computer.jpg" class="rounded float-left search-photo"/>
        <div class="col-6 flex-column">
            <h1 class="p-2">Découvré nos formation en ligne</h1>
            <li class="btn btn-success p-2">c'est ici</li>
        </div>
    </div>
</div>