@page "/utilisateur/factures"

@inject HttpClient Client
@inject IJSRuntime JsRuntime

<h2>Vos factures</h2>



@code {

    private List<string> factures = null;

    protected override async Task OnInitializedAsync()
    {
        // Voir pour récupérer les factures, les éléments ?
        factures = await Client.GetFromJsonAsync<List<string>>("/Order/Archived");
    }
}