@page "/utilisateur/moi"

@inject HttpClient Client
@inject IJSRuntime JsRuntime

<h2>Tableau de bord</h2>

<h4>Nom d'utilisateur</h4>
@if (_info == null) {
    <p>En cours d'acquisition...<div class="loading-bar"></div></p>
} else {
    <p>@_info.Name</p>
    <p>@_info.Email</p>
}

@code {
    private UserPublic _info = null;
    protected override async Task OnInitializedAsync()
    {
        _info = await Client.GetFromJsonAsync<UserPublic>("Users/info");
    }
}