@page "/utilisateur/moi"

@inject HttpClient Client
@inject MediwatchAuthentifiacationProvider AuthStateProvider
@inject NavigationManager NavManager


@if (_info == null)
{
    <p>Vous n'êtes pas connecté(e)
    <div class="loading-bar"></div>
    </p>
}
else
{
    <h2>Gestion utilisateur</h2>
    <h3>Vos informations</h3>
    <h4>Nom d'utilisateur</h4>
    <p>@_info.Name</p>
    <h4>Addresse mail principale</h4>
    <p>@_info.Email</p>
    <h4>Type de compte</h4>
    <p>@_info.Role</p>
    <Bill></Bill>
    <h3>Modification de vos informations</h3>

    <PopUp @bind-Activate="active">
        <div>
            Voulez vous vraiment effacer votre compte ?
            <button @onclick="deleteUser" class="btn btn-primary">Effacer votre compte</button>
            <button @onclick="CancelErase" class="btn btn-primary">Non</button>
        </div>
    </PopUp>

    <ClientItem user=_info></ClientItem>
    <button @onclick="EraseAccount" class="btn btn-primary">Effacer votre compte</button>
}

@code {
    private UserPublic _info = null;

    private bool active = false;
    protected override async Task OnInitializedAsync()
    {
        _info = await Client.GetFromJsonAsync<UserPublic>("Users/info");
    }

    public async Task deleteUser()
    {
        await Client.GetAsync("Users/deleteUser?id=" + _info.Id.ToString());
        await AuthStateProvider.Logout();
        NavManager.NavigateTo("/", true);
    }

    public void EraseAccount()
    {
        active = true;
    }

    public void CancelErase()
    {
        active = false;
    }
}