@page "/utilisateur/moi"

@inject HttpClient client
@inject IJSRuntime JSRuntime

<h2>Tableau de bord</h2>

<h4>Nom d'utilisateur</h4>
@if (info == null) {
    <p>En cours d'acquisition...<div class="loading-bar"></div></p>
} else {
    <p>@info.Name</p>
    <p>@info.Email</p>
}

@code {
    private UserPublic info = null;
    protected override async Task OnInitializedAsync()
    {
        info = await client.GetFromJsonAsync<UserPublic>("Users/info");
    }
}