@if(element != null && element.type == type) {
    <div class="@Class">
        @((MarkupString)Content)
    </div>
}

@code{
[CascadingParameter(Name = "BlazingEditorElement")]
public BlazingEditorElement element {get;set;}
[Parameter]
public string Class {get; set;} = null;
[Parameter]
public string Content {get; set;} = null;
public string type = "delimiter";
}