@page "/"

<main>
    <h1>Mediwatch votre formation au bout de vos doigts!</h1>
    <div class="online-formations">
        <div class="text-box">
            <h3>Découvrez nos formations en ligne</h3>
        </div>
        <button class="buttons">Formations en ligne 1</button>
        <button class="buttons">Formations en ligne 2</button>
    </div>
    <h2>Formations populaires</h2>
    <div class="formations-list">
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/formationsEnLigne.jpg"/>
                <h3>Conférence Psychologie</h3>
                <h4>Goro Majima</h4>
            </div>
            <div class="formation-informations">
                <h3>24 Juin 2020</h3>
            </div>
        </div>
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/conference.jpg"/>
                <h3>Conférence Dermatologie</h3>
                <h4>Daisaku Kuze</h4>
            </div>
            <div class="formation-informations">
                <h3>25 Juin 2020</h3>
            </div>
        </div>
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/workspaceWood.jpg"/>
                <h3>Conférence Cardiologie</h3>
                <h4>Hiroki Awano</h4>
            </div>
            <div class="formation-informations">
                <h3>26 Juin 2020</h3>
            </div>
        </div>
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/papyrus.jpg"/>
                <h3>Conférence Ostéopathie</h3>
                <h4>Jun Oda</h4>
            </div>
            <div class="formation-informations">
                <h3>27 Juin 2020</h3>
            </div>
        </div>
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/microscope.jpg"/>
                <h3>Conférence Génicologie</h3>
                <h4>Kazuma Kiryu</h4>
            </div>
            <div class="formation-informations">
                <h3>28 Juin 2020</h3>
            </div>
        </div>
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/stereoscope.jpg"/>
                <h3>Conférence Homéopatie</h3>
                <h4>Keiji Shibusawa</h4>
            </div>
            <div class="formation-informations">
                <h3>29 Juin 2020</h3>
            </div>
        </div>
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/palpatine.jpg"/>
                <h3>Conférence Premiers Secours</h3>
                <h4>Sohei Dojima</h4>
            </div>
            <div class="formation-informations">
                <h3>30 Juin 2020</h3>
            </div>
        </div>
        <div class="formation">
            <div class="formation-img-div">
                <img class="formation-img" src="css/images/covid.jpg"/>
                <h3>Conférence Prévention santé public</h3>
                <h4>Tetsu Tachibana</h4>
            </div>
            <div class="formation-informations">
                <h3>31 Juin 2020</h3>
            </div>
        </div>
    </div>
</main>