
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th class="calendar-element">Lu</th>
            <th class="calendar-element">Ma</th>
            <th class="calendar-element">Me</th>
            <th class="calendar-element">Je</th>
            <th class="calendar-element">Ve</th>
            <th class="calendar-element">Sa</th>
            <th class="calendar-element">Di</th>
        </tr>
    </thead>
    <tbody>
        @for(int week = 0; week < 6; week++) {
            <tr>
                @for(int day = 0; day < 7; day++){
                    <td>
                        <div>
                            <div class="calendar-element">@((1 + day + 7 * week) < startDay ? 
                               nbDayInLastMonth - startDay + (day + 7 * week) : ((1 + day + 7 * week) - startDay < nbDayInMonth ? 
                               (1 + day + 7 * week) - startDay + 1 : (1 + day + 7 * week) - startDay - nbDayInMonth + 1))</div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public int Month{get;set;}
    [Parameter]
    public int Year{get;set;}

    private int nbDayInMonth;
    private int nbDayInLastMonth;
    private int startDay;

    protected override void OnInitialized()
    {
        nbDayInLastMonth = NumberOfDayInMonth(Month - 1 < 1 ? 12 : Month - 1 , Year);
        nbDayInMonth = NumberOfDayInMonth(Month, Year);
        startDay = WhichDayTheMonthStart(1,Month,Year);
    }

    

    public int WhichDayTheMonthStart(int day, int month, int year)
    {
        int[]  t=  new int[]{0, 3, 2, 5, 0, 3, 5, 1, 4, 6, 2, 4};
        year -= month < 3 ? 1 : 0;
        return (year + year/4 - year/100 + year/400 + t[month-1] + day) % 7;
    }

    public int NumberOfDayInMonth(int month, int year)
    {
        if (month == 2)
            return IsLeapYear(year) ? 29 : 28;
        return 30 + month % 2;
    }

    public bool IsLeapYear(int year) {
        return (year % 4 == 0 && year % 100 != 0) || year % 400 == 0;
    }
    
}