@inject HttpClient Client


<tr>
    <td>
        <input @bind="user.Name" class="form-control"/>
    </td>
    <td>
        <input @bind="user.Email" class="form-control"/>
    </td>
    <td>
        <select @bind="user.Role" class="form-control">
            @foreach (var role in _roleNames)
            {
                <option value="@role">@role</option>
            }
        </select>
    </td>
    <td>
        <button @onclick="ChangeUser" class="btn btn-primary">Save</button>
    </td>
</tr>

@code {
    string[] _roleNames = { "Admin", "Tutor", "Member" };

    [Parameter]
    public UserPublic user {get; set;}

    private async void ChangeUser() {
        await Client.PostAsJsonAsync("/Users/setInfo/",user);
    }    
}