@inject HttpClient Client


<tr>
    <td>
        <input @bind="user.Name"/>
    </td>
    <td>
        <input @bind="user.Email"/>
    </td>
    <td>
        <select @bind="user.Role">
            @foreach (var role in _roleNames)
            {
                <option value="@role">@role</option>
            }
        </select>
    </td>
    <td>
        <button @onclick="ChangeUser">Save</button>
    </td>
</tr>

@code {
    string[] _roleNames = { "Admin", "Tutor", "Member" };

    [Parameter]
    public UserPublic user {get; set;}

    private async void ChangeUser() {
        await Client.PostAsJsonAsync("/Users/setInfo/",user);
    }    
}