@using Microsoft.AspNetCore.WebUtilities;
@using Newtonsoft.Json;
@using BlazingEditor.BasicBlazeEditComponent;
@using BlazingBlog.Shared

@inject IJSRuntime JsRuntime
@inject HttpClient Http


@if(_article != null) {
    <h1 class="article-viewer-title">@_article.Title</h1>
}

@if (_render != null)
{
    <div class="cards-container">
    <BlazeEditViewer @bind-Render="_render">
        <BlazEditParagraph Class="text-card mid-color"/>
        <BlazEditImage ClassImageContainer="image-card-container mid-color" ClassImage="article-viewer-image"/>
        <BlazeEditHeader/>
        <BlazEditSpacer Content=@Spacer></BlazEditSpacer>
    </BlazeEditViewer>
    </div>
}

@code {
    Article _article;

    private const string Spacer = "<hr\\>";

    [Parameter]
    public string articleName {get;set;}

    private BlazingRender _render = null;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender && articleName != "NO_ID") {
            Console.WriteLine("yolo: " +articleName);
            _article = await Http.GetFromJsonAsync<Article>($"api/Articles/GetArticle?name={articleName}");
            //Console.WriteLine(article.Content)
            await JsRuntime.InvokeVoidAsync("display", _article);
            if (_article != null && _article.Title != null && _article.Content != null)
            {
                _render = JsonConvert.DeserializeObject<BlazingRender>(_article.Content);
                if (_render != null)
                {
                    StateHasChanged();
                }
            }
        }
    }
}