@inject HttpClient Client

<h2>Vos factures</h2>

@if (factures == null || factures.Count <= 0)
{
    <p>Aucune facture disponible...</p>
}
else
{
    <ul>
        @foreach (var facture in factures)
        {
            <li><a href=@("/Order/Archived/" + facture)>@facture</a></li>
        }
    </ul>
}

@code {

    private List<string> factures = null;

    /// <summary>
    /// Permet de récupérer l'ensemble des factures de l'utilisateur depuis la base de données.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        factures = await Client.GetFromJsonAsync<List<string>>("/Order/Archived");
    }
}