@inherits LayoutComponentBase
@inject HttpClient Client
@inject IJSRuntime JsRuntime
@inject MediwatchAuthentifiacationProvider AuthStateProvider

<header class="navbar navbar-expand-lg border-bottom">
    <a class="navbar-brand text-secondary" href="/"><img src="./ressources/logo.png" alt="mediwatch logo" width="30"
            height="30" /> Mediwatch</a>
    <div class="navbar-nav-scroll ml-auto">
        <ul class="navbar-nav flex-row">
            @if (Info == null || !Info.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="/utilisateur/connexion" class="btn btn-outline-primary">connexion</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="/utilisateur/enregistrement" class="btn btn-outline-success">inscription</a>
                </li>
            }
            else if (Info.IsAuthenticated)
            {
                <li class="px-3 nav-item dropdown">
                    <DropDownMenu DropDownButtonClass="my-btn my-btn-primary dropdown-toggle">
                        <DropDownButton>
                            Bienvenue @Info.UserName
                        </DropDownButton>
                        <Content>
                            <a class="dropdown-item selected reload" href="/utilisateur/moi">Mes informations</a>
                            <a class="dropdown-item selected reload" href="/utilisateur/calendrier">Mon calendrier</a>
                            <a class="dropdown-item selected reload" href="/utilisateur/achat">Accéder à mon panier</a>
                            <AuthorizeView Roles="Admin, Tutor">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item selected reload" href="/formations/creation">Créer une formation</a>
                            </AuthorizeView>
                            <AuthorizeView Roles="Admin">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item selected reload" href="/Admin">Panneau d'administration</a>
                            </AuthorizeView>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item selected reload" href="/formations/recherche">Chercher une formation</a>
                            <a class="dropdown-item selected reload" href="#" @onclick="Logout">Déconnexion</a>
                        </Content>
                    </DropDownMenu>
                </li>
            }
        </ul>
    </div>
</header>
<div class="alert alert-primary" role="alert">
    Pour nous donner votre avis, <a href="https://airtable.com/shrfCVF5THQBdetFz" class="alert-link">cliquez ici</a>
</div>


<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="main order-md-1">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
</div>

<footer class="footer-our font-small unique-color-white bg-dark mt-4">
    <div class="border bg-white">
        <div class="container">
            <div class="py-2 align-items-center">
                <div class="text-center">
                    <a class="mx-1 text-white text-decoration-none" href="https://www.facebook.com/MediwatchFR/">
                        <button type="button" class="btn btn-outline-primary font-weight-bold">
                            <i class="fab fa-facebook pr-2" aria-hidden="true"></i>MediwatchFR
                        </button>
                    </a>
                    <a class="mx-1 text-warning text-decoration-none" href="https://www.instagram.com/mediwatchfr/">
                        <button type="button" class="btn btn-outline-warning font-weight-bold">
                            <i class="fab fa-instagram pr-2" aria-hidden="true"></i>MediwatchFR
                        </button>
                    </a>
                    <a class="mx-1 text-white text-decoration-none" href="https://twitter.com/MediwatchFR">
                        <button type="button" class="btn btn-outline-info font-weight-bold">
                            <i class="fab fa-twitter pr-2" aria-hidden="true"></i>MediwatchFR
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-4">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-secondary">Qui sommes nous ?</h6>
                <hr class="light accent-2 mb-4 mt-0 d-inline-block mx-auto text-white" style="width: 60px;">
                <p class="text-light">Nous sommes une équipe de 7 étudiants qui souhaitent apporter leurs compétences
                    pour
                    faciliter la communication entre la recherche de formation des médecins et pouvoir communiquer plus
                    facilement avec leurs formateurs.</p>
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-secondary">Guide</h6>
                <hr class="light accent-2 mb-4 mt-0 d-inline-block mx-auto text-white" style="width: 60px;">
                <p class="mb-0">
                    <a class="text-light" href="/help/index">Guide d'utilisation</a>
                </p>
                <p class="mb-0">
                    <a class="text-light" href="/help/faq">Foire aux questions</a>
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold text-secondary">Liens utiles</h6>
                <hr class="light accent-2 mb-4 mt-0 d-inline-block mx-auto text-secondary" style="width: 60px;">
                <p class="mb-0">
                    <a class="text-light" href="/about">Site vitrine</a>
                </p>
                <p class="mb-0">
                    <a class="text-light" href="https://www.epitech.eu/">EPITECH</a>
                </p>
                <p class="mb-0">
                    <a class="text-light" href="/Legal">Mentions légales</a>
                </p>
                <p class="mb-0">
                    <a class="text-light" href="mailto:contact@mediwatch.fr">contact@mediwatch.fr</a>
                </p>
            </div>
        </div>
    </div>
    <hr class="light w-25 m-auto">
    <div class="text-secondary footer-copyright text-center py-3">©2020-2021
        <a class="text-secondary" href="/"> Médiwatch</a> tous droits réservés
    </div>
</footer>
@code {
    public UserInformation Info = null;

    /// <summary>
    /// Permet de récupérer les informations de base de l'utilisateur à afficher sur toutes les pages.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        Info = await Client.GetFromJsonAsync<UserInformation>("Account/UserInfo");
        //await JSRuntime.InvokeVoidAsync("display", info);
    }

    /// <summary>
    /// Permet à l'utilisateur de se déconnecter depuis n'importe quelle page.
    /// </summary>
    /// <returns></returns>
    private async void Logout()
    {
        await AuthStateProvider.Logout();
        Info = await Client.GetFromJsonAsync<UserInformation>("Account/UserInfo");
        this.StateHasChanged();
    }
}
