@using Mediwatch.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JsRuntime


<div id="paypal-button-container"></div>

@code {
    [Parameter] 
    public string price {get;set;}
    private static Action _action;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("init_paypal", price);
            _action += UpdateMessage;
        }
    }

    private void UpdateMessage()
    {
        NavigationManager.NavigateTo("/");
    }

    [JSInvokable]
    public static void OnPaypalDone()
    {
        _action();
    }


}
  
